#  Ignore everything
*

# Except for MarkDown files
!*.md

# Except tex files

!.gitignore
!*.tex
!*.bib


# Except style files
!*.cls
!*.cfg
!*.sty
!*.bst
# Except figures

!*.png
!*.gif
!*.jpg
!*.jpeg
!*.tiff
!/Img/*.pdf

# ... even if they are in subdirectories

!*/